#not_found {
  height: 90dvh;
  @include flexbox(column, flex-end, center);
  margin-bottom: clamp(-4em, -10vi, -8em);

  h1 {
    font-size: 30vw;
    font-style: italic;
    font-family: $SecFont;
  }

  h3 {
    font-size: clamp(1rem, 4vi, 3rem);
    font-weight: 200;
  }

  a {
    font-size: clamp(0.8rem, 2.5vi, 1.5rem);
    font-weight: 400;
  }
}

@include device(laptop) {
  #not_found {
    justify-content: center;
  }
}
