#not_found {
  margin-top: 15em;
  text-align: center;
  h1 {
    font-size: 30vw;
    font-style: italic;
    font-family: $Offbit;
    line-height: 0.8;
  }

  h3 {
    font-size: 3rem;
    font-weight: 200;
  }

  a {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
