#about {
  .about-container {
    width: 80%;
    margin-top: 3rem;
    h4 {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: 400;
      span {
        display: block;
        font-size: 3rem;
        font-weight: 700;
      }
    }
    p {
      line-height: 1.5;
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 200;
      color: rgba($white, 0.9);
    }
  }
}
