#about {
  .about-container {
    width: 80%;

    h3 {
      font-size: clamp(1.7rem, 5vi, 3rem);
      font-weight: 400;
      line-height: 1.2;
      background: linear-gradient(to right, $white 46%, $darkGray 50%);
      background-size: 200% 100%;
      background-position-x: 100%;
      color: transparent;
      background-clip: text;
    }

    p {
      line-height: 1.5;
      margin-top: 1rem;
      font-size: clamp(1.2rem, 3.4vi, 2rem);
      font-weight: 300;

      span {
        background: linear-gradient(to right, $white 46%, $darkGray 50%);
        background-size: 200% 100%;
        background-position-x: 100%;
        color: transparent;
        background-clip: text;
      }

      &:last-of-type {
        font-weight: 100;
        a {
          text-decoration: underline 1px solid $white;
        }
      }
    }
  }
}

@include device(laptop) {
  #about {
    .about-container {
      width: 90%;
    }
  }
}

@include device(tablet) {
  #about {
    .about-container {
      width: 100%;
    }
  }
}
