#about {
  .about-container {
    width: 80%;

    h3 {
      font-size: 3rem;
      line-height: 1.2;
      font-weight: 700;
    }

    p {
      line-height: 1.5;
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 300;
      color: rgba($white, 0.9);
    }
  }
}
