#contact {
  .contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    h3 {
      font-size: clamp(1.5rem, 5vi, 3rem);
    }

    .links-container {
      > li {
        margin-bottom: 1.5rem;

        h4 {
          text-transform: capitalize;
          font-size: clamp(1rem, 2.5vi, 1.6em);
        }

        ul {
          @include flexbox($dir: row, $wrap: nowrap);

          li {
            font-size: clamp(0.7rem, 3vi, 1.1rem);
            font-weight: 200;
            flex-grow: 1;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}

@include device(laptop) {
  #contact {
    .contact-container {
      grid-template-columns: 1fr;
      gap: 3rem;

      .links-container {
        text-align: center;
      }
    }
  }
}

@include device(tablet) {
  #contact {
    .contact-container {
      gap: 2rem;
    }
  }
}

@include device(mobile) {
  #contact {
    .contact-container {
      gap: 1.2rem;
    }
  }
}
