footer {
  @include flexbox($dir: row, $wrap: nowrap, $jusCon: space-between);
  padding-block: clamp(1rem, 2vi, 2rem) 2rem;
  border-top: 1px solid rgba($white, 0.8);

  p {
    font-size: clamp(0.7rem, 3vi, 1rem);
    text-transform: capitalize;
  }
}

@include device(900px) {
  footer {
    @include flexbox($dir: column, $alignItem: center, $gap: 0.5rem);
  }
}
