.home {
  position: relative;
  height: 100dvh;
  padding-bottom: calc(10vh * 0.75);

  .home_container {
    margin: auto;
    width: 65%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;

    .line-wrap {
      width: 100%;
      display: flex;

      &.one {
        align-items: center;
        display: flex;
        overflow: hidden;
        span {
          margin-right: 1em;
          font: 15em $Offbit;
        }
      }

      &.three {
        span {
          margin-left: -1.5rem;
          margin-block: auto;
          font-size: 1.5rem;
          transform: rotate(-90deg);
        }
        p {
          margin-left: 1rem;
          display: flex;
          place-items: center;
          font-size: 1rem;
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      h1 {
        margin-left: -1rem;
        color: $white;
        font-size: 10em;
        line-height: 1.2;
        word-spacing: -0.2em;
      }

      &.mobile {
        display: none;
      }
    }
  }
}
