#home {
  width: 100%;

  .home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: 100%;
    padding-block: 8rem;
    margin: auto;

    .line-wrap {
      width: 100%;
      display: flex;
      white-space: nowrap;

      &.one {
        justify-content: flex-end;
      }

      &.three {
        span {
          margin-left: -1.5rem;
          margin-block: auto;
          font-size: 2rem;
          font-weight: 700;
          transform: rotate(-90deg);
        }
        p {
          margin-left: 1rem;
          display: flex;
          place-items: center;
          font-size: 1rem;
          font-weight: 300;
          text-transform: uppercase;
          white-space: normal;
        }
      }

      h1 {
        color: $white;
        font-size: clamp(5em, 10vw, 10em);
        line-height: 1.2;
        word-spacing: -0.2em;
      }

      &.mobile {
        display: none;

        span {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1477px) {
  .home_container {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .home_container {
    .line-wrap {
      &.one {
        span {
          font-size: 9em;
        }
      }

      // h1 {
      //   font-size: 7em;
      // }
    }
  }
}

@media screen and (max-width: 768px) {
  .home_container {
    width: 85%;

    .line-wrap {
      &.one {
        span {
          font-size: 8em;
        }
      }

      &.three {
        h1,
        span {
          display: none;
        }

        p {
          font-size: 0.8rem;
          width: 70%;
        }
      }

      // h1 {
      //   font-size: 5em;
      // }

      &.mobile {
        display: block;
      }
    }
  }
}
