#home {
  .home_container {
    width: 100%;
    height: 100dvh;
    @include flexbox($alignItem: center, $jusCon: center, $dir: column);

    h1 {
      @include flexbox($alignItem: center, $jusCon: center, $dir: column);
      white-space: nowrap;
      font-size: clamp(3rem, 10vi, 10rem);
      line-height: 1.2;

      > span:last-child {
        @include flexbox;

        > span {
          display: inline-block;
          margin: auto;
          font-size: 0.22em;
          transform: rotate(-90deg);
        }
      }
    }
    p {
      width: 50%;
      margin: 1rem auto;
      text-align: center;
      font-size: clamp(0.8rem, 1.5vi, 1.3rem);
      font-weight: 200;
      text-transform: uppercase;
    }
  }
}

@include device('mobile') {
  #home {
    height: 85dvh;

    .home_container {
      p {
        width: 60%;
      }
    }
  }
}
