.loader {
  inset: 0;
  position: fixed;
  background: $black;
  z-index: 50;
  user-select: none;

  .loader-overlay {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 51;
  }

  .grid {
    opacity: 0;
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    place-items: center;
    color: $white;
    font-weight: 900;
    font-size: 1.2rem;

    span {
      display: flex;
      justify-content: center;
      width: 2em;
      position: relative;
      transform: rotate(-3deg);

      &::before {
        display: block;
        content: '';
        padding-top: 100%;
      }
    }
  }
}
