.loader {
  @include position($inset: 0, $isFixed: true);
  background: $black;
  z-index: 50;
  padding: 4vh 0;

  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    place-items: center;
    font-weight: 900;
    font-size: clamp(1rem, 4vi, 1.4rem);
    visibility: hidden;
    opacity: 0;

    span {
      @include flexbox($jusCon: center);
      width: 2rem;
      position: relative;
      transform: rotate(-3deg);
      font-family: $SecFont;

      &::before {
        display: block;
        content: '';
        padding-top: 100%;
      }
    }
  }
}
