header {
  position: relative;
  user-select: none;
  z-index: 40;

  .menu-close,
  .menu-open {
    position: absolute;
    top: 2rem;
    right: 4rem;
    width: 4rem;
    height: 4rem;
    background-color: whitesmoke;
    border-radius: 100%;
    box-shadow: 0 0 4rem rgba(0 0 0 / 35%);
    transition: transform ease 0.4s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

    svg {
      scale: 0.5;
      fill: $vineyard;
      opacity: 0;
      transition: opacity ease 0.4s;
    }

    &:hover svg {
      opacity: 1;
    }
  }

  .menu-close {
    svg {
      transform: translate(5%, -30%);
      fill: $DarkCyan;
    }
  }

  .nav-container {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100vh;
    background: rgba($black, 90%);
    text-align: center;
    padding: 15vh 0;
    backdrop-filter: blur(12vmax);

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;

      h2 {
        overflow: hidden;
        span {
          display: block;
          transform: translateY(110%) rotate(3deg);
          a {
            text-transform: capitalize;
            font-family: 'JetBrain';
            font-size: 4em;
            color: $darkGrey;

            &:hover {
              font-size: 4.5em;
              font-family: 'OffBit';
            }
          }
        }
      }
    }
  }
}
