header {
  position: absolute;
  inset: 0 0 auto;
  z-index: 40;

  .fixed-header {
    width: 75%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;

    .spade {
      font-size: 3rem;
    }
  }

  .menu-close,
  .menu-open {
    font-size: 1rem;
    cursor: pointer;
  }

  .menu-close {
    margin-top: 1.2rem;
  }

  .nav-container {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100vh;
    background: rgba($black, 20%);
    backdrop-filter: blur(2vmax);

    .menu {
      height: 100%;
      gap: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: baseline;
        overflow: hidden;

        &:nth-child(odd) {
          flex-direction: row-reverse;
        }

        a {
          display: block;
          text-transform: uppercase;
          font-size: 3.5em;
          transform: translateY(110%) rotate(3deg);
        }

        span {
          overflow: hidden;
          font-weight: 400;
          transform: scale(0);
        }
      }
    }
  }
}
