header {
  @include position($inset: 0 0 auto);
  z-index: 40;

  .fixed-header {
    @include position($l: 50%);
    @include flexbox($jusCon: space-between, $alignItem: center);
    width: 75%;
    transform: translateX(-50%);
    margin-top: 0.5rem;

    span:first-of-type {
      font-size: clamp(2rem, 8vi, 3rem);
    }

    span:last-of-type {
      font-size: clamp(0.7rem, 3vi, 1rem);
      cursor: pointer;
    }
  }

  section {
    @include position($t: -100%, $isFixed: true);
    @include blurbg(20%, 2vmax);
    width: 100%;
    height: 100dvh;

    nav {
      height: 100%;
      gap: 1rem;
      @include flexbox($dir: column, $alignItem: center, $jusCon: center);

      h2 {
        @include flexbox($alignItem: baseline);
        overflow: hidden;

        a {
          display: block;
          text-transform: uppercase;
          font-size: clamp(1.3em, 8vi, 3.5em);
          transform: translateY(110%) rotate(3deg);
        }

        span {
          overflow: inherit;
          font-weight: 400;
          font-size: clamp(0.5em, 1.5vi, 1em);
          transform: scale(0);
        }
      }
    }
  }
}
