.projects-container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;

  .project-card {
    position: relative;
    display: block;
    width: 50%;
    aspect-ratio: 4 / 3;
    will-change: transform;
    transform-origin: 50% 50%;

    .card-cover {
      position: absolute;
      inset: 0;
      overflow: hidden;
      z-index: 4;

      span {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #111111;
        overflow: hidden;
      }
    }

    &:nth-child(odd) {
      margin-left: auto;
    }

    &:nth-child(even) {
      margin-right: auto;
    }

    img {
      object-fit: cover;
      transition: filter 0.4s;
    }

    .card-info {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 0;
      inset-inline: 0;
      z-index: 2;
      overflow: hidden;

      h3 {
        margin-top: 1rem;
        display: inline-flex;
        overflow: hidden;
        margin-left: 2rem;
        font-size: 4rem;
        font-weight: 700;

        span {
          transform: translateY(100%) rotate(45deg);
          transform-origin: bottom left;
        }
      }

      p {
        margin-left: 2rem;
        margin-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: 200;
      }

      .tags {
        margin: 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow: hidden;

        span {
          padding: 0.2rem 0.5rem;
          margin: 0.2rem;
          background-color: rgba($black, 15%);
          backdrop-filter: blur(1rem);
          font-size: 0.8rem;
          border-radius: 0.4rem;
          overflow: inherit;
          transform: scale(0);
        }
      }
    }

    .link {
      position: absolute;
      bottom: 15%;
      right: -2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border-radius: 50%;
      width: 5rem;
      aspect-ratio: 1;
      z-index: 3;
      transform: scale(0);
      font-size: 2rem;
      color: $black;
      font-family: $Offbit;
      vertical-align: baseline;
      transform: rotate(365);
    }
  }
}
