#skills {
  .global-section {
    margin-bottom: 0;
  }

  .skill-container {
    overflow: hidden;

    .row {
      font-size: clamp(2rem, 8vi, 6rem);
      font-weight: 600;
      @include flexbox($wrap: nowrap);
      margin-bottom: 1em;

      h3 {
        line-height: 1.2;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        white-space: nowrap;

        &::after {
          content: '·';
          font-size: 1em;
          color: $white;
          margin-inline: 0.25em;
        }

        &:nth-child(even) {
          color: transparent;
          -webkit-text-stroke: 1px $white;
        }
      }
    }
  }
}
