@use '@/base' as *;

.toast {
  display: block;
  @include position($inset: auto 2.5% 2.5% auto, $isFixed: true);
  @include blurbg(10%, 5vmax, $white);
  padding: 0.8rem 1.5rem 0.8rem 1.2rem;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  z-index: 10;
  font-size: clamp(0.7rem, 3.5vi, 1.2rem);
  opacity: 0;
  white-space: nowrap;
  letter-spacing: 0.1rem;
  font-weight: 500;

  > p {
    cursor: pointer;
  }

  > button {
    box-sizing: border-box;
    @include position($inset: -0.5em -0.5em auto auto);
    @include blurbg(20%, 5vmax, $white);
    @include flexbox($jusCon: center, $alignItem: center);
    font-size: 0.8em;
    width: 0;
    line-height: 0;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
  }
}

@include device(tablet) {
  .toast {
    width: 85%;
    inset: auto 50% 2.5% auto;
    transform: translateX(50%);
    text-align: center;
  }
}
