// colors
$black: #000000ff;
$poppy: #d64045ff;
$butterscotch: #eea243ff;
$celadon: #b9e3c6ff;
$white: #f1fffaff;
$vineyard: #ef3d59;
$DancingDaisy: #efc958;
$DarkCyan: #4ab19d;
$darkGrey: #344e5c;
$SoftOrange: #e17a47;
