@use 'base' as *;

/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark light;

  /* Lenis Recommended CSS */
  &.lenis {
    height: auto;

    &.lenis-smooth {
      scroll-behavior: auto;

      [data-lenis-prevent] {
        overscroll-behavior: contain;
      }
    }

    &.lenis-stopped {
      overflow: hidden;
    }

    &.lenis-scrolling iframe {
      pointer-events: none;
    }
  }
}

body {
  width: 100%;
  min-height: 100lvh;
  color: $white;
  background: $black;
  overscroll-behavior: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  text-decoration: none;
}

li {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}

// text hover animation
[data-hover] {
  position: relative;
  transition: color 0.3s;
  padding: 0 1rem;
  z-index: 0;

  &::before {
    content: '';
    @include position($inset: 0);
    width: 0;
    z-index: -1;
    border-radius: 0.5rem;
    transition: width 0.3s;
  }

  &:hover {
    color: $black;
    &::before {
      width: 100%;
      background: $white;
    }
  }
}
