.projects-container {
  @include flexbox(column, center, center, null, 5rem);

  article {
    position: relative;
    width: calc(50% + 1rem);
    aspect-ratio: 4 / 3;
    border-radius: 0.4rem;

    &:nth-child(odd) {
      margin-left: auto;
    }

    &:nth-child(even) {
      margin-right: auto;
    }

    img {
      object-fit: cover;
      border-radius: inherit;
    }

    > span {
      @include position($inset: -1px);
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      overflow: hidden;
      z-index: 4;
      border-radius: inherit;

      > span {
        display: block;
        width: 100%;
        height: 100%;
        background-color: $veryDarkGray;
        overflow: hidden;
      }
    }

    hgroup {
      @include flexbox(column);
      @include position($inset: auto 0 0);
      z-index: 3;
      overflow: hidden;
      border-radius: 0.3rem;

      h3 {
        @include flexbox($isInline: true);
        margin: 1rem 0 0 clamp(1.5rem, 2vi, 2rem);
        font-size: clamp(2rem, 8vi, 4rem);
        overflow: hidden;

        > span {
          transform: translateY(100%) rotate(45deg);
          transform-origin: bottom left;
        }
      }

      > div {
        @include flexbox($jusCon: space-evenly, $wrap: wrap);
        margin: clamp(0.4rem, 1.3vi, 1rem);
        margin-top: clamp(0.2rem, 0.8vi, 1rem);
        overflow: hidden;

        span {
          padding: 0.2rem 0.5rem;
          margin: 0.2rem;
          @include blurbg(10%, 0.5rem);
          font-size: clamp(0.5rem, 2.5vi, 1rem);
          border-radius: 0.4rem;
          overflow: inherit;
          transform: scale(0);
        }
      }
    }

    a {
      @include position($b: 15%, $r: calc(-1 * clamp(3.5rem, 10vi, 5rem) / 2));
      @include flexbox($jusCon: center, $alignItem: center);
      @include blurbg(80%, 0.5rem, $white);
      width: clamp(3.5rem, 10vi, 5rem);
      aspect-ratio: 1;
      border-radius: 50%;
      font-size: clamp(1.8rem, 5vi, 2.5rem);
      // font-family: $SecFont;
      line-height: 1;
      color: $black;
      transform: scale(0);
      z-index: 5;
    }
  }
}

@include device(tablet) {
  .projects-container {
    article {
      width: 75%;
      margin: auto;
    }
  }
}
