@use '@/base' as *;

.projects {
  @include container;
  @include flexbox($dir: column, $gap: 5rem);

  article {
    position: relative;
    width: calc(50% + 1rem);
    aspect-ratio: 4 / 3;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem $black;

    &:nth-child(odd) {
      align-self: flex-end;
    }

    &:nth-child(even) {
      align-self: flex-start;
    }

    img {
      object-fit: cover;
      border-radius: inherit;
    }

    hgroup {
      @include flexbox(column);
      @include position($inset: auto 0 0);
      border-radius: 0.3rem;
      overflow: hidden;

      h3 {
        @include flexbox($isInline: true);
        margin: 1rem 0 0 clamp(1.5rem, 2vi, 2rem);
        font-size: clamp(2rem, 8vi, 4rem);
        text-shadow: 0 0 0.7rem $black;
        overflow: hidden;
      }

      ul {
        @include flexbox($jusCon: space-evenly, $wrap: wrap);
        margin: clamp(0.4rem, 1.3vi, 1rem);
        margin-top: clamp(0.2rem, 0.8vi, 1rem);
        overflow: hidden;

        li {
          padding: 0.2rem 0.5rem;
          margin: 0.2rem;
          font-size: clamp(0.5rem, 2.5vi, 1rem);
          border-radius: 0.4rem;
          @include blurbg(10%, 0.5rem);
          overflow: inherit;
        }
      }
    }

    a {
      $btnWidth: clamp(3.5rem, 10vi, 5rem);
      $iconSize: clamp(1.8rem, 5vi, 2.5rem);
      @include position($b: 15%, $r: calc(-1 * $btnWidth / 2));
      color: $black;
      width: $btnWidth;
      aspect-ratio: 1;
      border-radius: 50%;
      @include blurbg(70%, 0.5rem, $white);
      @include flexbox($jusCon: center, $alignItem: center);
      box-shadow: 0 0 0.5rem $black;

      span {
        display: inline-block;
        line-height: 0;
        font-size: $iconSize;
      }
    }

    @include device(tablet) {
      width: 75%;

      &:nth-child(1n) {
        align-self: center;
      }
    }
  }
}
