// Import Variables and Fonts
@import './variable';
@import './mixin';

// Global CSS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100lvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: $black;
  overscroll-behavior: none;
  font-family: $MainFont;
  user-select: none;
}

// Lenis scroll

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

// disable scrollbar
body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

// Background blob Effect
@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.blob-wrapper {
  @include position($inset: 0, $isFixed: true);
  z-index: -15;

  > span {
    display: block;
    height: 25vmax;
    aspect-ratio: 1;
    @include position($t: 50%, $l: 50%);
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #7fffd4, #9370d8);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -14;
  }

  > div {
    @include position($inset: 0, $isFixed: true);
    z-index: -13;
    backdrop-filter: blur(10vmax);

    &::before {
      content: '';
      @include position($inset: 0);
      background-image: url('/images/noise.webp');
      z-index: -12;
    }
  }
}

// section and headers

.global-section {
  width: 70%;
  margin: clamp(4em, 10vi, 8em) auto;

  .section-header {
    @include flexbox($alignItem: baseline, $wrap: nowrap, $dir: row, $isInline: true);
    margin-block: clamp(4.5em, 10vi, 8em);
    line-height: 1;
    overflow: hidden;

    h2 {
      letter-spacing: clamp(0.2rem, 1vi, 1rem);
      font-size: clamp(4rem, 20vi, 15rem);
      font-family: $SecFont;
    }
    span {
      font-size: clamp(1rem, 2vi, 1.8rem);
    }
  }
}

@include device(laptop) {
  .global-section {
    width: 80%;
  }
}

@include device(tablet) {
  .global-section {
    width: 90%;
  }
}

// text hover animation

[data-hover] {
  position: relative;
  transition: color 0.3s;
  padding: 0 1rem;

  &::before {
    content: '';
    @include position($inset: 0);
    width: 0;
    z-index: -1;
    border-radius: 0.5rem;
    transition: width 0.3s;
  }

  &:hover {
    color: $black !important;

    &::before {
      width: 100%;
      background: $white;
    }
  }
}

.screen {
  @include position($inset: 0, $isFixed: true);
  transform: translateY(-100%);
  background: $black;
  z-index: 100;
}

// Module Imports

@import './modules/loader.module';
@import './modules/projects.module';
@import './modules/about.module';
@import './modules/home.module';
@import './modules/navbar.module';
@import './modules/skills.module';
@import './modules/contacts.module';
@import './modules/footer.module';
@import './modules/toast.module';
@import './modules/404.module';
