#skills {
  .global-section {
    margin-bottom: 0;
  }

  .skill-container {
    overflow: hidden;

    .row {
      font-size: clamp(2rem, 7.5vi, 6rem);
      @include flexbox($wrap: nowrap);
      margin-bottom: 0.6em;

      h3 {
        line-height: 1.2;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        white-space: nowrap;
        transform: skewX(20deg);

        &::after {
          content: '⬩';
          font-size: 0.6em;
          color: $white;
          vertical-align: middle;
          margin-inline: 0.5em;
        }

        &:nth-child(even) {
          color: transparent;
          -webkit-text-stroke: 1px $white;
        }
      }
    }
  }
}
