@use '@/base' as *;

.marquee {
  overflow: hidden;

  h3 {
    font-size: clamp(2rem, 7.5vi, 6rem);
    @include flexbox($wrap: nowrap);
    line-height: 1.2;
    text-transform: capitalize;
    padding-block: 0.3em;

    span {
      flex-shrink: 0;

      &::after {
        content: '⬩';
        font-size: 0.6em;
        color: $white;
        vertical-align: middle;
        margin-inline: 0.5em;
      }

      &:nth-child(even) {
        color: transparent;
        -webkit-text-stroke: 1px $white;
      }
    }
  }
}
